doc/tags*
.vim/bundle/
.vim/bundle~/
.vim/undo/
.chef/syntax_check_cache
.bundle
.vim/.netrwhist
.zsh.d/config/override
.gitconfig.local
.gitignore.local
.vim/conf.d/override
.bundle
data/mecab-ipadic-neologd
